div{
   
    float: left;
    margin-left: 1rem;
    
    
}
#contenedor{
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  
}
img{
    width: 5rem;
    height: 5rem;
}
#areaTexto {
  clear: both; 
  position: absolute;
  margin-top: 20px;
  bottom:0;
  left: 0;
}
aside{
  width: 25%;
  background-color: antiquewhite;
  box-sizing: border-box;
  position: fixed;
  overflow: hidden;
  right: 0;
  top: 0;
  bottom: 0;
}